{% extends 'base.html' %}

{% block content %}
<div class="container marketing"> 
  <div class="row">
    <div class="span6">
      <div class="tnwlogo">
        <img src="img/TNW_logo_2012.png" alt="The Next Web logo"/>
      </div>
    </div><!-- /.span6 -->
    <div class="span6">
      <h2><span class="quotemark">&ldquo;</span>It's a show of technology - it works and it will be put to great use in the future.<span class="quotemark">&rdquo;</span></h2>
      <p><a class="btn btn-happy" href="http://thenextweb.com/apps/2012/09/03/wink-camera/" target="_blank">Read article &raquo;</a></p>
    </div><!-- /.span6 -->
  </div><!-- /.row -->
</div><!-- /.container marketing-->

{% endblock content %}

