    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    * {
      font-family: 'Open Sans', sans-serif;
      
    }

    body {
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      /*color: #5a5a5a;*/
    }


    .body-container {
      margin-top: 40px;
    }


    h1 {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    .navbar {
      background-color: transparent;
      margin-bottom: 0px;
      border: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      color: white;
    }

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: relative;
      z-index: 10;
      /*margin-top: 20px;
      margin-bottom: -90px;*/ /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }

    .navbar .brand {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0px;
      padding-right: 0px; 
      width: 220px;
      margin-left: 0px;
    }

    /* responsive brand logo */
    
    @media (max-width: 979px) {
      .navbar .brand {
        width: 170px;
      }
    }


    /* navbar links */
    .navbar .nav > li > a {
      margin-top: 11px;
      margin-left: 15px;
      text-shadow: none;
      text-transform: uppercase;
      color: white;
    }

    /* navbar links hover */
    .navbar .nav > li > a:hover {
      text-decoration: underline;
      color: white;
    }

    .navbar-inner {
      background-color: transparent;
      background-image: none;
      padding-left: 0px;
    }

    /* Carousel base class */
    .carousel {
      margin-top: -80px;
      margin-bottom: 60px;
    }

    .carousel .container {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .carousel-control {
      background-color: transparent;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      margin-top: 20px;
    }

    .carousel .item {
      height: 577px;
    }
    
    #carousel-slide-01 {
      background: url(/static/img/esch.png) repeat center center;
    }

    #carousel-slide-02 {
      background: url(/static/img/batthern.png) repeat center center;
    }

    #carousel-slide-03 {
      background: url(/static/img/batthern.png) repeat center center;
    }
    #carousel-slide-04 {
      background: url(/static/img/batthern.png) repeat center center;
    }

    /* resize carosel images for tablet view */
    @media (max-width: 979px) {
      #carousel-slide-01 {
        background-size: 1733px 500px;
      }
      #carousel-slide-02 {
        background-size: 1733px 500px;
      }
      #carousel-slide-03 {
        background-size: 1733px 500px;
      }
      #carousel-slide-04 {
        background-size: 1733px 500px;
      }
    }

    /* resize carosel images for phone view */
    @media (max-width: 767px) {
      #carousel-slide-01 {
        background-size: 1040px 300px;
      }
      #carousel-slide-02 {
        background-size: 1040px 300px;
      }
      #carousel-slide-03 {
        background-size: 1040px 300px;
      }
      #carousel-slide-04 {
        background-size: 1040px 300px;
      }
    }

    
    .carousel-caption {
      background-color: transparent;
      /*position: static;*/
      max-width: 550px;
      padding: 0 20px;
      margin-bottom: 100px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

    .carousel-caption h1 {
      text-transform: uppercase;
      font-size: 69px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      font-stretch: condensed;
    }


    .carousel-caption .btn {
      margin-top: 10px;
    }

    #winkcamera-caption {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .appstorebutton {
      width: 30%;
      margin-top: 4%;
      margin-left: auto;
      margin-right: auto;
    }

    .appstorebutton:hover {
      filter: invert(20%);
      -webkit-filter: invert(20%);  
    }

    #youTubeModal {
      width: 898px;
      margin-left: -450px;
    }

    #youTubeModalBody {
      max-height: 650px;
      padding: 0px;
      overflow-y: visible;
    }

    .pickoftheday {
      position: absolute;
      top: 0px;
      left: 5%;
      z-index: 100;
      width: 15%;
    }

    /* Buttons
    -------------------------------------------------- */
    .btn-happy {
      background-color: #D34321;
      background-image: none;
      border-color: none;
      text-shadow: none;
      color: white; /* text colour */
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-weight: bold;
      border: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .btn-happy:hover {
      color: white; /* text colour */
      background-color: #ff5128;
    }

    #vidplayicon {
      font-size: 24px;
      margin-right: 10px;
    }

    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }

    .medialogo {
      width: 200px;
    }

    .twitterbird {
      width: 150px;
    }

    #blogicon {
      font-size: 36px;
      margin-top: 15px;

    }

    #twittericon {
      font-size: 36px;
      margin-top: 13px;

    }

    #newsicon {
      font-size: 36px;
      margin-top: 13px;

    }

    #quotesicon {
      font-size: 36px;
      margin-top: 13px;

    }
    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 40px 0; /* Space out the Bootstrap <hr> more */
      border-top-color: #CCC;
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 40px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
      margin-bottom: 50px;
    }

    .featurette-title {
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
    }


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-bottom: 40px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }


      .marketing .span4 + .span4 {
        margin-top: 40px;
      }


      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }


    /* SQUARE BULLETS WITH ICONS
    -------------------------------------------------- */
    .bulletrow {
      margin-bottom: 20px;
    }

    .square-bullet {
      background-color: #2996cc;
      width: 70px;
      height: 70px;
      margin-left: auto;
      margin-right: auto;
      moz-border-radius: 2px;
      border-radius: 2px;
      text-align: center;
      color: white;
    }

    .squarebulleticon {
      width: 70px;
      font-size: 48px;
      margin-top: 21px;
    }

    /* SDK
    -------------------------------------------------- */
    .sdkdiv {
      background-color: #E6E6E6;
      padding-top: 30px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .sdkdiv .span5{
      text-align: left;
    }

    #sdkhandicon {
      margin-top: 18px;
      margin-left: -5px;
    }


    /* push eye guy to stick to the bottom of the fiv */
    #eyeguydiv {
      min-height: 450px;
    }
    #eyeguydiv img {
      padding-top: 180px;
    }
    
    .calltoactionbutton {
      margin-bottom: 30px;
    }
    /* WINK CAMERA
    -------------------------------------------------- */
    #winkcamcontentrow {
      margin-top: 60px;
    }

    #winkcamappstorebutton {
      width: 165px;
      margin-left: auto;
      margin-right: auto;
    }

    #winkcamappstorebutton img:hover {
      filter: invert(20%);
      -webkit-filter: invert(20%);  
    }


    /* WINK READER
    -------------------------------------------------- */
    .winkreaderdiv {
      background-color: #E6E6E6;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-top: 50px;
      margin-bottom: 0px;
    }

    #winkreadericondiv img {
      padding-top: 0px;
    }


    /* homepage live stats in big face slice
    -------------------------------------------------- */
    #bigfacediv {
      height: 500px;
      background-color: none;
      background: url(../img/face.png) no-repeat center center;
      color: black;
      margin-bottom: 0px;
    }

    
    #eyesdiv {
      /*background-color: green;
      opacity: 0.5;*/

      margin-left: auto;
      margin-right: auto;

      position: relative;
      width: 780px;
      height: 500px;


    }
    #eyeone {
      float: left;
      margin-top: 78px;
      width: 330px;
      height: 345px;

      line-height: 80px;
      padding-top: 40px;             /* centre vertically */
      padding-left: 10px;
      text-align: center;
      font-size: 48px;
      
      /* text formatting */
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'Open Sans Condensed', sans-serif;
    }

    #eyetwo {
      float: right;
      margin-top: 78px;
      width: 350px;
      height: 345px;
      
      line-height: 80px;
      padding-top: 130px;             /* centre vertically */
      text-align: center;
      font-size: 48px;

      text-transform: uppercase;
      font-weight: bold;
      font-family: 'Open Sans Condensed', sans-serif;
    }

    
    

    /* TNW quote
    -------------------------------------------------- */
    .tnwlogo {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 47px;

    }

    .quotemark {
      font-family: serif;
      font-size: 50px;
    }
    
    /* AWARDS
    -------------------------------------------------- */
    .awardsdiv {
      padding-top: 40px;
      background-color: none;
      padding-bottom: 40px;
    }
    .awardsdiv h3{
      /*text-align: center;*/
      text-align: left;
      margin-top: 35px;
    }

    .awardsdiv {
      display: block;
      /*margin-right: auto;
      margin-left: auto;
      text-align: center;*/
    }
    
    .awardslogo img{
      height: 120px;
    }


    /* ABOUT
    -------------------------------------------------- */
    .aboutawardsrow {
      margin-bottom: 50px;
    }
    .aboutawardslogo img{
      display:block;
      margin-left:auto;
      margin-right:auto;
      width: 100px;
    }

    /* line at top of TNW pick of the day */
    #aboutTNWaward {
      border-top: 1px solid #CCC;
    }
    
    /* FOOTER
    -------------------------------------------------- */
    .footer {
      background-color: #E6E6E6;
      border-top: 2px solid #DDD;
      overflow: auto;
      margin-top: 30px;
    }

    #footer-container {
      margin-top: 40px;
      margin-bottom: 50px;
    }

    .footer h6 {
      text-transform: uppercase;
    }

    .footer ul {
      list-style-type: none; /* remove bullets */
      margin: 0 0 0 0;
    }

    .sociallogo{
      display: inline;
      margin-right: 5px;

      /*make grayscale */
      filter: gray;
      -webkit-filter: grayscale(100%);
      -webkit-transition: none;
      -webkit-backface-visibility: hidden;
    }

    /* remove grayscale on hover */
    .sociallogo:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
    }

    .supporterlogo {
      width: 100px;
      margin-bottom: 20px;
    }

    #footerrow {
      margin-bottom: 40px;
    }

    .footersubtext {
      text-align: center;
    }

    .irelandmap {
      width: 15px;
    }


   /* LATEST
    -------------------------------------------------- */

    .latestdiv {
      background-color: #E6E6E6;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .newsrow {
      padding-top: 10px;
      padding-bottom: 7px;

      border-bottom-style: solid;
      border-bottom-color: #CCC;
      border-bottom-width: 1px;

    }
    .newslogo {
      max-height: 50px;
    }
